[ContrastEffect]
contrast=0.4
enabled=true
intensity=1.4
saturation=1.4

[Desktop Entry]
Comment=Genome Light Ultra, Modified from Breeze by the KDE VDG.
Name=Genome Ultra
X-KDE-PluginInfo-Author=doncsugar
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=genome-ultra
X-KDE-PluginInfo-Version=4.0.4
X-KDE-PluginInfo-Website=https://store.kde.org/p/1315559/
X-Plasma-API=5.0

[Wallpaper]
defaultFileSuffix=.png
defaultHeight=1080
defaultWallpaperTheme=Next
defaultWidth=1920
