[ContrastEffect]
contrast=1.2
enabled=true
intensity=.25
saturation=1.7 
#contrast=.2
#enabled=true
#intensity=1.0
#saturation=.8

[Desktop Entry]
Comment=Genome Light Ultra, "inverted". Modified from Breeze by the KDE VDG.
Name=Genome Light Inverted
X-KDE-PluginInfo-Author=doncsugar
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=genome-light-ultra-inverted
X-KDE-PluginInfo-Version=3.1.2
X-KDE-PluginInfo-Website=https://store.kde.org/p/1315559/
X-Plasma-API=5.0

[Wallpaper]
defaultFileSuffix=.png
defaultHeight=1080
defaultWallpaperTheme=Next
defaultWidth=1920
